@BASE_URL = http://localhost:8000
@TOKEN_MNG = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MzkyY2MwYS03NWNhLTQyYWQtOTQzYi03ZWYzMjk4NTQ4ZWIiLCJyb2xlIjoiTWFuYWdlbWVudCIsImV4cCI6MTc3MjkxMTQ4MCwiaWF0IjoxNzcyODI1MDgwfQ.LPZyX-SxPn9KREMdMBmaQLaxdP4TY1u-SRwcopI6g4U
@TOKEN_SVR = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3MGNiODg2Ni04NzhmLTQ1ZjctYmUyYS05NzZiYjE1ZDA5ODIiLCJyb2xlIjoiU3VwZXJ2aXNvciIsImV4cCI6MTc3MjkxMTQ5NCwiaWF0IjoxNzcyODI1MDk0fQ.9rsIG7FNRyQCS1nC_BgoOzXAvGjn4AL3tnlASoIjpxI
@TOKEN_OPR = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyMjhkM2Q1Zi02YTI5LTQ4OTktYTE2My03ZmJiZjYzNzU2MTYiLCJyb2xlIjoiT3BlcmF0b3IiLCJleHAiOjE3NzI5MTE2MzYsImlhdCI6MTc3MjgyNTIzNn0.5Afo_ac7kv32wl_5t2QkbOD7Zr66KxgoNosKtg59_GM

### Login
@USERNAME = operator@test.com
@PASSWORD=123456789

POST {{BASE_URL}}/api/v1/auth/login HTTP/1.1
Content-Type: application/x-www-form-urlencoded

username={{USERNAME}}&password={{PASSWORD}}

### Update Config

POST {{BASE_URL}}/api/v1/config/update HTTP/1.1
Authorization: Bearer {{TOKEN_MNG}}
Content-Type: application/json

{
  "setting_key": "max_connections",
  "setting_value": "100"
}

### Fetch Sensor Data
@MACHINE_ID = bc4a5a56-3b74-4d5f-b66f-22addc273f12
@START_TIME = 2026-03-03T10:00:00Z
@END_TIME = 2026-03-05T10:01:00Z

GET {{BASE_URL}}/api/v1/data/machine/{{MACHINE_ID}}?start_time={{START_TIME}}&end_time={{END_TIME}}
Authorization: Bearer {{TOKEN_OPR}}

### Ingest Sensor Data
POST {{BASE_URL}}/api/v1/data/ingest
Authorization: Bearer {{TOKEN_OPR}}
Content-Type: application/json

{
  "gateway_id": "gateway-factory-jakarta-01",
  "payloads": [
    {
      "machine_id": "123e4567-e89b-12d3-a456-426614174001",
      "timestamp": "2026-03-03T10:00:00Z",
      "metrics": {
        "temperature": 75.5,
        "pressure": 12.4,
        "speed": 1500.0
      }
    },
    {
      "machine_id": "123e4567-e89b-12d3-a456-426614174001",
      "timestamp": "2026-03-03T10:00:05Z",
      "metrics": {
        "temperature": 76.1,
        "pressure": 12.5
        // The ‘speed’ metric was intentionally not sent (e.g., sensor is dead/not present).
      }
    },
    {
      "machine_id": "987f6543-e21b-12d3-a456-426614174999",
      "timestamp": "2026-03-03T10:00:00Z",
      "metrics": {
        "temperature": 45.0,
        "pressure": 5.0,
        "speed": 800.0
      }
    }
  ]
}
